* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
} 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}
ul {
    list-style: none;
}
.container {
    width: 500px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1.5rem;
}
.expense-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 12px 10px rgba(0,0,0,0.2);
    background-color: white;
    padding: 1rem;
}
.title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}
.balance {
    text-align: center;
}
.balance h1 {
    font-weight: 400;
    text-transform: capitalize;
}
.balance h1 .total-left {
    color: rgb(153, 51, 127);
    font-weight: 500;

}

.expense-description {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1rem 0;
    background-color: rgb(247, 235, 235);
}
.expense-description div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.expense-description div:nth-child(1) {
    border-right: 2px solid rgb(204, 91, 91);
}
.expense-description div p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 600;
}
.expense-description div p:nth-child(2) {
    font-weight: 700;
    padding-top: 5px;
}
h4 {
    text-transform: capitalize;
    border-bottom: 2px solid #333;
    padding: 4px 0;
}
.money {
    padding: 10px;
    position: relative;
    display: flex;
    background-color: rgb(250, 242, 242);
    margin: 5px;
}
.money.plus {
    border-right: 3px solid green;
}
.money.minus {
    border-right: 3px solid red;
}
.money span {
    text-transform: capitalize;
    font-size: 1.3rem;
}
.money span:nth-child(1) {
    flex: 1;
}
.money span:nth-child(2) {
    justify-self: flex-end;
}
.money.minus span:nth-child(2),
.total-expenses {
    color: red;
}
.money.plus span:nth-child(2),
.total-income{
    color: green;
}
.money .delete {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    background-color: red;
    opacity: 0;
    transition: all .2s ease-in;
    border: none;
    color: white;
}
.money:hover .delete {
    opacity: 1;
}
.form {
    width: 100%;
}
.form label {
    display: block;
    margin: 5px;
    font-size: 15px;
    font-weight: 700;
}
.form .form-input {
    display: block;
    width: 100%;
    padding: .8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
}
.form .submit {
    width: 100%;
    display: block;
    margin-top: 5px;
    padding: 1rem;
    background-color: antiquewhite;
    color: rgb(153, 51, 127);
    font-size: 1rem;

}
